Source: megaglest
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Giuseppe Borzi <gborzi@ieee.org>, 
 Eddy Petrișor <eddy.petrisor@gmail.com>, 
 Siegfried-Angel Gevatter Pujals <rainct@ubuntu.com>, 
 Mark Vejvoda <mark_vejvoda@hotmail.com>
Build-Depends: debhelper (>= 7.0.50~),
  cmake,
  help2man,
  libsdl1.2-dev, 
  libxerces-c2-dev,
  libvorbis-dev, 
  libogg-dev, 
  libopenal-dev, 
  liblua5.1-dev, 
  libpng12-dev,
  libjpeg-dev,
  libz-dev,
  libcurl4-gnutls-dev | libcurl4-nss-dev,
  libminiupnpc-dev,
  libircclient-dev,
  libwxgtk2.8-dev,
  libxml2-dev,
  libftgl-dev,
  libglew-dev
Standards-Version: 3.9.2
Vcs-Svn: svn://svn.debian.org/svn/pkg-games/packages/trunk/megaglest/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-games/packages/trunk/megaglest/?op=log
Homepage: http://megaglest.org/

Package: glest
Depends: megaglest (>= ${source:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Dummy transition package for megaglest
 This is a dummy package to ease the transition to megaglest, the fork of
 glest.

Package: megaglest
Replaces: glest (<< 3.5.2.3-1~)
Breaks: glest (<< 3.5.2.3-1~)
Architecture: any
Depends: ${shlibs:Depends}, 
 ${misc:Depends}, 
 p7zip-full, 
 famfamfam-flag-png, 
 ttf-dejavu-core,
 fonts-uralic,
 fonts-liberation,
 ttf-wqy-zenhei,
 megaglest-data (>= ${source:Upstream-Version}), 
 megaglest-data (<= ${source:Version})
Description: 3D multi-player real time strategy game
 MegaGlest is a free 3D real-time customizable strategy game
 which takes place in a context which could be compared to that of the
 pre-renaissance Europe, with the licence that magic forces exist in the
 environment and can be controlled.
 .
 The current version is fully playable and supports both single player
 games against CPU controlled players and multiplayer matches over the
 Internet or a LAN.

Package: megaglest-dbg
Priority: extra
Section: debug
Architecture: any
Depends: megaglest (= ${binary:Version})
Description: debug files for MegaGlest
 This package contains debug information for the MegaGlest game.
 .
 It can be used to debug MegaGlest using GDB if the game crashes
 due to programming errors.
