#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_configure:
	dh_auto_configure -- -DMEGAGLEST_DATA_INSTALL_PATH=share/games/megaglest/ -DWANT_DEV_OUTPATH=ON

override_dh_strip:
	dh_strip --dbg-package=megaglest-dbg

override_dh_installchangelogs:
	dh_installchangelogs docs/CHANGELOG.txt

override_dh_auto_clean:
	rm -rf mk/linux/mojosetup/
	dh_auto_clean

%:
	dh $@ --parallel
